header {
    /*Adding random colors so I can see the bg, plz feel free to change*/
    background: plum;
    width: 100%;
}
#bio-image {
  max-height: 400px;
  width: 200px;
  clip-path: circle();
  float: left;
  shape-outside: circle(50%);
  margin-right: 0.5rem;
}
#container {
 min-height: 1000px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: royalblue;
    text-align: left;
    padding: 10px;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    text-align: center;

}
h2{
    text-align: left;
    padding-left: 10px;
}
header h1, header ul {
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 30px;
}

.person {
    background: plum;
    margin: 75px 10px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
#contact-info{
    text-align: center;
}
h3{
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
#navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
